*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #c3c5ee;
    align-items: center;
    text-align: center;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.logo-login  a img{
    width:250px;
    height: auto;
}

#login-SECTION{
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 70px;
}

#login-SECTION{
    margin: 60px 480px ;
    padding: 40px 40px;
    border-radius: 40px;
    
}

#login{
    text-align: left;
    height: auto;
}

.contenedor-formulario{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}



.titulo-login{
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.titulo-login h2{
    color: #7277D5;
    font-weight: bold;
    text-align: left;   
    margin: 0;
}

.texto-inputs label{
    font-weight: bold;
    font-size: 20px;
    color: #7277D5;
    padding: 5px 10px;
}

.formulario{
    padding: 3px 10px;
    border: 2px solid #7277D5;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-align: left;
    height: 50px;
}
.formulario i{
    color: #7277D5;
}
.formulario input{
    width: 80%;
    border: none;
    outline: none;
    height: 90%;
    padding: 0px 5px;
    font-size: 16px;
}

#remember{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0px 20px;
}

#check {
    display: flex;
    align-items: center;
    gap: 5px;
}

.span{
    color: #7277D5;
}

#boton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90px;
    padding-top: 20px;
    padding-bottom: 5px;
}

#boton button{
    width: 60%;
    height: 60%;
    color: white;
    background-color: #7277D5;
    border: 0px;    
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

#boton button:hover{
    background-color: #d58145;
    transform: scale(1.1);
}


.regresar_login {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    background-color: #7277D5;
    color: white;
    padding: 8px 15px;
    border-radius: 12px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.regresar_login i {
    font-size: 18px;
}


.regresar_login:hover {
    background-color: #E07326;
    transform: scale(1.05);
}


/*-------------- FOOTER ------------*/

footer{
    background-color: #7277D5;
    height: 200px;
    
}

#contenido-FOOTER{
    margin-left: 270px;
    margin-right: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
}

.artFOOTER{
    width: 300px;
    padding: 10px 30px;
    text-align: center;
}

.artFOOTER h4{
    color: white;
}

.artFOOTER p{
    color: white;
}

#footerMITAD{
    border-left: 1px solid white;
    border-right: 1px solid white;
}




/*    ===========================================================
    MEDIA QUERIES
    FOR RESPONSIVE DESIGN
    =========================================================== */

    @media (max-width: 1280px) {
        #login-SECTION{
            margin: 100px 150px ;
            padding: 30px 20px;
            border-radius: 20px;
        }

        #boton button{
            width: 70%;
            height: 50%;
            font-size: medium;
        }

         footer{ height: auto; width: 100%; }

    #contenido-FOOTER{
        flex-direction: column;
        text-align: center;
        margin: 0;
    }

    .artFOOTER{ width: auto; }
    }

    @media (max-width: 768px) {
    #login-SECTION{
        margin: 100px 20px ;
        padding: 30px 20px;
        border-radius: 20px;
    }

    .titulo-login h2{
        font-size:larger;
    }

    #boton button{
        width: 80%;
        height: 50%;
        font-size: medium;
    }

    .regresar_login {
        padding: 6px 10px;
        font-size: medium;
    }
}


    @media (max-width: 600px) {
        #login-SECTION{
            margin: 80px 20px ;
            padding: 20px 15px;
            border-radius: 15px;
        }

        .titulo-login h2{
            font-size: medium;
        }

        #boton button{
            width: 90%;
            height: 40%;
            font-size: small;
        }

    }

/*    ===========================================================
    END MEDIA QUERIES







